
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>cliente</th>
        <th>pagos parciales</th>
        <th>cantidad dias morosos</th>
        <th>cantidad de cuotas</th>
        <th>Activo</th>
        <th colspan="2" align="center">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of colFacturas">
        <td>{{f.cliente?.Apellido}}  {{f.cliente?.Nombre}}</td>
        <td>{{f.pagoparcial}}</td>
        <td>{{f.cantidadDiasMoroso}}</td>
        <td>{{f.cantidadCuotas}}</td>
        <td *ngIf="f.activo" style="color:green">Activo</td>
      <td *ngIf="!f.activo" style="color: red">Anulado</td>
      
        <td>
          <a  title="Ver la factura" target="_blank" href="{{rutaReporte}}reporteFactura/{{f._id}}"><span class="glyphicon glyphicon-eye-open glyphicon glyphicon-eye"></span></a>
        </td>
        <td>
          <a (click)="anular(f)" title="Anular factura"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
    </tbody>
  </table>

</div>

