<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Ventas</h3>
  </div>
  <div class="panel-body">
    <div class="row" align="left">
      <a routerLink='alta' title="Generar venta">
        <button type="button" class="btn btn-default">
          <span title="Generar venta" class="glyphicon glyphicon-plus"></span>
        </button>
      </a>
    </div>
    <div class="row" align="center">
      <app-busqueda-ventas></app-busqueda-ventas>
    </div>
  </div>
</div>