<br><br><br>
<div class="panel panel-danger" *ngIf="clientes.length > 0 ">
    <div class="panel-heading">
      <h3 class="panel-title">Clientes morosos</h3>
    </div>
    <div class="panel-body">
      
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let cliente of clientes">
          <span class="badge">${{cliente.total_deuda}}</span>
          {{cliente.cliente.Apellido}} - {{cliente.cliente.Nombre}} - DNI: {{cliente.cliente.DNI}} - Telefono: {{cliente.cliente.Telefono}}
        </li>
      
      </ul>
      
    </div>
</div>


<div class="panel panel-warning" *ngIf="clientesMorososFuturos.length > 0">
  <div class="panel-heading">
    <h3 class="panel-title">Clientes con cupones proximos a vencer</h3>
    <h5>Corrimiento de {{corrimiento}} días</h5>
  </div>
  <div class="panel-body">
    
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let cliente of clientesMorososFuturos">
        <span class="badge">${{cliente.total_deuda}}</span>
        {{cliente.cliente.Apellido}} - {{cliente.cliente.Nombre}} - DNI: {{cliente.cliente.DNI}} - Telefono: {{cliente.cliente.Telefono}}
      </li>
    
    </ul>
    
  </div>
</div>


<div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Correccion de días de vencimiento</h3>
    </div>
    <div class="panel-body">
      
      <div class="form-group">
        <label for="inputcorrimiento" class="col-sm-2 control-label">Corrimiento:</label>
        <div class="col-sm-2">
          <input type="number" #corrimientoDias name="corrimiento" id="inputcorrimiento" class="form-control" value="30" min="1" step="1" required="required" title="Corrimiento">
        </div>
      </div>

      
      <button type="button" class="btn btn-danger" (click)="corregirDias(corrimientoDias.value)">Actualizar</button>
      
      
    </div>
</div>


