<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav">
    <li>
      <a routerLink="clientes">Clientes</a>
    </li>
    <li>
      <a routerLink="productos">Productos</a>
    </li>
    <li>
      <a href="categorias">Categorias</a>
    </li>
    <li>
      <a href="ventas">Ventas</a>
    </li>
    <li>
      <a href="cuponesPagos">Cupones de pago</a>
    </li>
    <li>
      <a href="#">Comprobantes de pago</a>
    </li>
  </ul>
</nav>
