<div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Categorias</h3>
    </div>
    <div class="panel-body">
      <div class="row" align="left">
        <a routerLink='alta' title="Agregar Catgoria">
          <button type="button" class="btn btn-default">
            <span title="Agregar categoria" class="glyphicon glyphicon-plus"></span>
          </button>
        </a>
      </div>
      <div class="row" align="center">
       <app-categoria-busqueda></app-categoria-busqueda>
      </div>
    </div>
  </div>